main{
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

.container {
    border: 1px solid #ddd;
    padding: 30px;
    box-sizing: border-box;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.switch-register {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    color: #555;
    margin-top: -10px; /* Điều chỉnh khoảng cách so với header */
}

.switch-register a {
    text-decoration: none;
    color: #007bff;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-group label {
    flex: 1;
    font-size: 0.9rem;
    color: #444;
}

.input-group input {
    flex: 2;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
}

.button-group {
    display: flex;
    gap: 10px;
}

.cancel-btn {
    flex: 3;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.cancel-btn:hover {
    background-color: #e4e4e4;
}

.login-btn {
    flex: 5;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0056b3;
}

.forgot-password-link {
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
    margin-top: -10px;
}

.facebook-btn {
    width: 40%; /* Chiếm 40% chiều rộng của container */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Icon nằm bên trái */
    gap: 10px;
    background-color: #3b5998;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
   
    margin-left: auto;
}

.facebook-btn i {
    font-size: 1.2rem;
}